<!DOCTYPE html>
<html>
<head>
    <title>Wojcik-trans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <!--<link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" media="screen">-->
    <link />
    <!--<link rel="stylesheet" href="~/Content/bootstrap-responsive.css" type="text/css" media="screen">--> <!-- dodane recznie-->
    <!-- <link rel="stylesheet" href="~/Content/camera.css" type="text/css" media="screen">--> <!-- dodane recznie-->
    <!-- <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="screen"> -->
    <link /> <!-- dodane recznie-->
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/superfish.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link herf="@Url.Content("~/Content/camera.css")" rel=" = stylesheet" type="text/css" />
    <link herf="@Url.Content("~/Content/bootstrap.css")" rel=" = stylesheet" type="text/css" />
    <link herf="@Url.Content("~/Content/bootstrap-responsive.css")" rel=" = stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/superfish.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.ui.totop.js"></script> <!--dodane recznie-->

    <script type="text/javascript" src="~/Scripts/camera.js"></script> <!-- dodane recznie-->
    <script type="text/javascript" src="~/Scripts/jquery.mobile.customized.min.js"></script> <!-- dodane recznie-->

    <script type="text/javascript" src="~/Scripts/jquery.caroufredsel.js"></script> <!-- dodane recznie)-->
    <script type="text/javascript" src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script>
        $(document).ready(function () {
            //

            $('#camera_wrap').camera({
                //thumbnails: true
                //alignment			: 'centerRight',
                autoAdvance: true,
                mobileAutoAdvance: true,
                fx: 'simpleFade',
                height: '38%',
                hover: false,
                loader: 'none',
                navigation: true,
                navigationHover: true,
                mobileNavHover: true,
                playPause: false,
                pauseOnClick: false,
                pagination: true,
                time: 5000,
                transPeriod: 1000,
                minHeight: '200px'
            });

            //	carouFredSel banner
            $('#banner .carousel.main ul').carouFredSel({
                auto: {
                    timeoutDuration: 8000
                },
                responsive: true,
                prev: '.banner_prev',
                next: '.banner_next',
                width: '100%',
                scroll: {
                    items: 1,
                    duration: 1000,
                    easing: "easeOutExpo"
                },
                items: {
                    width: '350',
                    height: 'variable',	//	optionally resize item-height
                    visible: {
                        min: 1,
                        max: 3
                    }
                },
                mousewheel: false,
                swipe: {
                    onMouse: true,
                    onTouch: true
                }
            });



            $(window).bind("resize", updateSizes_vat).bind("load", updateSizes_vat);
            function updateSizes_vat() {
                $('#banner .carousel.main ul').trigger("updateSizes");
            }
            updateSizes_vat();

        }); //
        $(window).load(function () {
            //

        }); //

        @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    </script>
    <!--[if lt IE 8]>
            <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
        <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>
<body class="front">
    <div id="main">

        <div class="top1_wrapper">
            <img src="~/Content/images/Wojcik-trans/Gdansk2000STready.jpg" alt="" class="bg1">
            <div class="top1_inner clearfix">
                <div class="top2_wrapper">
                    <div class="container">
                        <div class="top2 clearfix">
                            <header><div class="logo_wrapper"><a href="index.cshtml" class="logo"><img src="~/Content/images/Wojcik-trans/przykladowe_logo.png" alt=""></a></div></header>
                            <div class="menu_wrapper">
                                <div class="phone1_wrapper clearfix"><div class="phone1">1 800 123 4567</div></div>
                                <div class="navbar navbar_">
                                    <div class="navbar-inner navbar-inner_">
                                        <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                        <div class="nav-collapse nav-collapse_ collapse">
                                            <ul class="nav sf-menu clearfix">
                                                <li class="active"></li>
                                                <li> @Html.ActionLink("O nas","Onas","Home") </li>
                                                <li class="sub-menu sub-menu-1">
                                                     @Html.ActionLink("Oferta","Oferta","Home")
                                                    <ul>
                                                        <li><a href="Index2.cshtml">limo service</a></li>
                                                        <li class="sub-menu sub-menu-2">
                                                            <a href="Index2.cshtml">airport transfer<em></em></a>
                                                            <ul>
                                                                <li><a href="index-2.html">lorem ipsum dolor</a></li>
                                                                <li><a href="index-2.html">sit amet</a></li>
                                                                <li><a href="index-2.html">adipiscing elit</a></li>
                                                                <li><a href="index-2.html">nunc suscipit</a></li>
                                                                <li><a href="404.html">404 page not found</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="sub-menu sub-menu-2">
                                                            <a href="index-2.html">wedding<em></em></a>
                                                            <ul>
                                                                <li><a href="index-2.html">lorem ipsum dolor</a></li>
                                                                <li><a href="index-2.html">sit amet</a></li>
                                                                <li><a href="index-2.html">adipiscing elit</a></li>
                                                                <li><a href="index-2.html">nunc suscipit</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li> @Html.ActionLink("Cennik","Cennik","Home") </li>
                                                <li> @Html.ActionLink("Rezerwacja","Rezerwacja","Home") </li>
                                                <li> @Html.ActionLink("Kontakt", "Kontakt", "Home") </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top3_wrapper">
                    <div class="container">
                        <div class="top3 clearfix">
                            <div id="slider_wrapper">
                                <div class="">
                                    <div id="slider_inner" class="clearfix">
                                        <div id="slider" class="clearfix">
                                            <div id="camera_wrap">
                                                <div data-src="~/Content/images/Wojcik-trans/slide1.jpg">
                                                    <div class="camera_caption nav1 fadeIn">
                                                        <div class="txt1"><br></div>
                                                    </div>
                                                </div>
                                                <div data-src="~/Content/images/Wojcik-trans/slide2.jpg">
                                                    <div class="camera_caption nav2 fadeIn">
                                                        <div class="txt1"><br></div>
                                                    </div>
                                                </div>
                                                <div data-src="~/Content/images/Wojcik-trans/slide3.jpg">
                                                    <div class="camera_caption nav3 fadeIn">
                                                        <div class="txt1"><br></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car1_wrapper clearfix"><img src="~/Content/images/Wojcik-trans/car1.png" alt="" class="img"></div>
            </div>
        </div>


        @RenderBody()

        <div class="bot1_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span4">

                        <div class="bot1_title">Follow Us:</div>

                        <div class="social_wrapper">
                            <ul class="social clearfix">
                                <li><a href="#"><img src="~/Content/images/Wojcik-trans/social_ic1.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/Wojcik-trans/social_ic2.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/Wojcik-trans/social_ic3.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/Wojcik-trans/social_ic4.png"></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="span4">

                        <div class="bot1_title">Kontakt z nami:</div>

                        <div class="phone2">
                            <div class="txt1">Telefon: 1 800 123 4567</div>
                            <hr />
                            <div class="txt2">E-mail: tom202@gmail.com</div>
                        </div>

                    </div>
                    <div class="span4">

                        <div class="bot1_title">Copyright</div>

                        <footer>© 2019. All rights reserved.<br><a href="#">Polityka prywatności</a></footer>

                    </div>
                </div>
            </div>
        </div>




    </div>
    

    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
   
</body>
</html>
